/*===============================
  Stylesheet for Cart Page
  Author: Aldion Paloma
  File:   cart.css
  Date:   April 2026

/* Base */
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Cart  */
.cart-container {
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
}

/* Indivual Cart */
.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}


/* Product Image */
.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: contain; 
}


/* Info Section */
.cart-info {
  flex: 1;
}

.cart-info h3 {
  margin: 0;
}

/* Price */
.cart-price {
  font-weight: bold;
}

/* Remove Button */
.cart-info button {
  margin-top: 10px;
  padding: 8px 15px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.cart-info button:hover {
  opacity: 0.8;
}

/* Total Section */
.total-section {
  text-align: right;
  margin-top: 30px;
}

/* Buttons */
.btn {
  padding: 12px 25px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

/* Transition Effect */
.btn:hover {
  opacity: 0.8;
}

/* Back Button */
.back-btn {
  margin-bottom: 20px;
  display: inline-block;
  text-decoration: none;
}