<!--==============================================
    Cart Page for Clothing Shopping Website
    File:   cart.html
    Author: Aldion Paloma
    Date:   April 2026
==================================================-->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">

<title>Cart</title>


</head>
<body>


<div class="cart_container">

<!-- Back Button -->
<button class="button back-button" onclick="window.history.back()"> <-- Back</button>     <!-- Back button to previous page -->

    <h1>Your Cart</h1>

    <div id="cart-items"></div>

    <!-- Display Total Section -->
    <div class="total_section">
        <h2 id="total_price">Total: $0.00</h2>    <!-- Price starts at $0.00 -->
        
        <a href="/checkout">
            <button class="button">Checkout</button>
        </a>
    </div>

</div>

<script>

// Retrieves cart data
let cart = JSON.parse(localStorage.getItem("cart")) || [];


let grouped = {};  // Groups items by size and id

cart.forEach(item => {

    let key = item.id + "-" + item.size; // Seperates items by size

    // If same size add 1 quantity to the group
    if (!grouped[key]) {

        grouped[key] = {
            ...item,
            quantity: 1
        };

    } else {

        grouped[key].quantity++; // If in list add 1

    }
});

// Gets container where cart items are listed
const container = document.getElementById("cart-items");

let total = 0;


// Displays items
Object.values(grouped).forEach(item => { // Loop through groups

    let itemTotal = item.price * item.quantity;

    total += itemTotal; // Total

    const div = document.createElement("div"); // goes to div which holds user info

    div.classList.add("cart-item");

    // Fills the div with information from database
    div.innerHTML = `
        <img src="${item.image}">

        <div class="cart-info">

            <h3>${item.name.replaceAll("_"," ")}</h3>

            <p><strong>Size:</strong> ${item.size}</p>

            <p>Quantity: x${item.quantity}</p>

            <p>$${item.price.toFixed(2)} each</p>

            <p><strong>$${itemTotal.toFixed(2)}</strong></p>

            <button onclick='removeOne(${item.id}, "${item.size}")'>
            Remove 1
    </button>
        </div>
    `;

    container.appendChild(div);
});


// Total Price
document.getElementById("total_price").innerText =
    "Total: $" + total.toFixed(2);


// Remove a single item
function removeOne(id, size){

    let cart = JSON.parse(localStorage.getItem("cart")) || [];

    // Finds same items and size
    let index = cart.findIndex(function(item){

        return Number(item.id) === Number(id)
            && String(item.size) === String(size);

    });

    // Remove one item
    if(index > -1){

        cart.splice(index, 1);

    }

    // Saves to the updated cart
    localStorage.setItem("cart", JSON.stringify(cart));

    // Reloads page
    location.reload();
}

</script>
</body>
</html>