<!--==============================================
    Home Page for Clothing Shopping Website
    File:   home.html
    Author: Aldion Paloma
    Date:   April 2026
==================================================-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
    <title>Walk By Faith</title>
</head>
<body>


<!-- Navbar -->
<nav class="navbar">  
    <div class="logo">Walk By Faith</div>
    
    <ul class="navbar_links">
        <li><a href="/">Home</a></li>
        <li><a href="/collection">Shop Collection</a></li>
    </ul>

    <div class="navbar_icon"> 
        <img src="{{ url_for('static', filename='images/Navbar/cart.png') }}">
    </div>
</nav>
  

<!-- Hero -->
<header class="hero_section">
    <div class="hero_word">
        <h1>Walk By Faith</h1>
        <h2>For we walk by faith, not by sight. (2 Corinthians 5:7)</h2>
        <h2>Kia Ora!</h2>
        <a href="/collection" class="hero_button">Shop The Collection</a>
    </div>

    <img src="{{ url_for('static', filename='images/Navbar/praise.JPG') }}" class="full-width-img">
</header>


<!-- Title -->
<section class="section_title">
    <h2>Best Sellers</h2>
</section>

<!-- Database Grid-->
<section class="product_grid" id="product_grid"></section>

<!-- Footer -->
<footer class="footer">
    <div class="footer_container">
        
        <!-- Column 1 -->
<div class="footer_columns">
        <h2>Walk By Faith</h2>
        <p>"For we walk by faith, not by sight."<br>(2 Corinthians 5:7)</p>
        <p>Tena Koe</p>
    </div>

        <!-- Columnn 2 -->
    <div class="footer_columns">
        <h3>Pages</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/collection">Shop Collection</a></li>
        </ul>
    </div>

        <!-- Column 3 -->
    <div class="footer_columns">
        <h3>Contact</h3>
        <p>Email: 21110@rosmini.school.nz</p>
        <p>Phone: +64 6 6767 6767</p>
        <p>Auckland, New Zealand</p>
    </div>

    </div>
</footer>

<!-- Javascript -->

<script>
fetch("/items")  // Gets list of products
  .then(res => res.json()) // Converts it into a a Javascript object
  .then(data => {
    const grid = document.getElementById("product_grid"); // Connects to div in HTML for product_grid

    data.slice(0, 6).forEach(item => { // This makes it so that the first 6 items display

    // Creates the grid item and the <a> tag makes it clickable
      const product = document.createElement("a");
      product.classList.add("grid-item");

      product.href = "/product/" + item.id; // Creates a product id and url for the item

    // This is for setting up the image display such as the image and item name
      product.innerHTML = ` 
        <img src="${item.image}" alt="${item.name}">
        <div class="overlay">
            <span>${item.name.replace("Catholic_", "").replaceAll("_", " ")}</span>  
        </div> 
      `;
      grid.appendChild(product); // Creates Product Link
    });
  })

  
</script>

</body>
</html>