<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}"> <!-- CSS -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet"> <!-- Font -->
<title>Product</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar">  
    <div class="logo">Walk By Faith</div>
    
    <ul class="navbar_links">
        <li><a href="/">Home</a></li>
        <li><a href="/collection">Shop Collection</a></li>
    </ul>

    <!-- Navbar Icons -->
    <div class="navbar_icon"> 
<a href="/cart">
  <img src="{{ url_for('static', filename='images/Navbar/cart.png') }}" alt="Cart">
</a>
</a>
    </div>
</nav>


<!-- Product Containers -->
<section class="product_container">

    <!-- Image -->
    <div class="product-image">
        <img id="img">
    </div>

    <!-- Product Details -->
    <div class="product_details">
        <h1 id="name"></h1>
        <p id="price"></p>
        <p id="desc"></p>
    
    <!-- Select Option for the users size -->
    <select id="sizeSelect">
        <option value="" disabled selected>Select Size</option>
        <option>XS</option>
        <option>S</option>
        <option>M</option>
        <option>L</option>
        <option>XL</option>
        <option>XXL</option>
    </select>

    
    <!--The user can't buy a less than 1 -->       
<input type="number" id="quantityInput" value="1" min="1">

     <!-- Clickable button that adds to the cart -->       
<button onclick="addToCart()">Add to Cart</button>
    </div>

</section>

<!-- Footer -->
<footer class="footer">
    <div class="footer_container">
        
        <div class="footer_columns">
            <h2>Walk By Faith</h2>
            <p>"For we walk by faith, not by sight."<br>(2 Corinthians 5:7)</p>
        </div>

        <div class="footer_columns">
            <h3>Pages</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/collection">Shop Collection</a></li>
            </ul>
        </div>

        <div class="footer_columns">
            <h3>Contact</h3>
            <p>Email: 21110@rosmini.school.nz</p>
            <p>Phone: +64 6 6767 6767</p>
            <p>Auckland, New Zealand</p>
        </div>

    </div>
</footer>


<!--javascript! -->       
<script>

// Creates a variable that holds the users info
let currentItem = null;

// Collects ID
const id = window.location.pathname.split("/").pop();

// Gets information from the database
fetch(`/item/${id}`)
.then(res => res.json()) //Converts into a object
.then(item => { 

    
    if(item.error){ // If item not found it displays product not found
        alert("Product not found");
        return;
    }

    currentItem = item; // Saves the data into an itme

    // Links back to HTML page with details
    document.getElementById("img").src = item.image;
    document.getElementById("name").textContent = item.name.replaceAll("_"," ");
    document.getElementById("price").textContent = "$" + item.price;
    document.getElementById("desc").textContent = item.description;
})
.catch(err => console.log("ERROR:", err));


// Add to cart function
function addToCart(){

    if(!currentItem){
        alert("Product not loaded yet!");
        return;
    }

    
    const size = document.getElementById("sizeSelect").value; // Gets size from user

    if(!size){
        alert("Please select a size"); // Makes user select a size
        return;
    }

    const quantity = Number(document.getElementById("quantityInput").value); // Gets quantity amount user wants

    // Prevents 0, negative numbers, or empty values
    if(quantity <= 0 || isNaN(quantity)){
    alert("Please enter a quantity greater than 0");
    return;
}

    let cart = JSON.parse(localStorage.getItem("cart")) || []; // Retrieves cart or start with an empty cart

 
    for(let i = 0; i < quantity; i++){ // Loop for quantity

        cart.push({ 
            id: currentItem.id,
            name: currentItem.name,
            price: Number(currentItem.price),
            image: currentItem.image,
            size: size
        });

    }

    // Save to the cart
    localStorage.setItem("cart", JSON.stringify(cart));

    alert("Added to cart!");
}
</script>

</body>
</html>